h1 { color:#20d113;text-align:center; }

p { color:red ;
    text-align: left;
}

div { background-color: green;
      height: auto ;
      width: auto ;
      margin: 30px;
      padding: 30px;
      font-family:arial, sans-serif;
      font-size: 28px;
      font-weight: bold;
      border: 3px solid blue;
}

ul > li { color: white ;}

a::before {
  content: "\21d2 Click here: " ;
  font-weight: bold;
}

ol li { color: magenta;}

table {
      border: 2px solid black;
      border-collapse:  collapse;
}

input[type=number] {
      background-color: yellow;
}

input[type=text] {
      background-color: gray;
}

input[class=mandatory]
    {  background-color: red;
}

button {
      width: 200px;
      height: 50px;
      font-size: 24px;
      background-color: grey;
}

button:hover  {
      background-color: orange;
}

th, td {
      border: 2px solid black;
      padding: 5px;
}

th {
      background-color: lightgray;
 }

p::selection {
  color: pink;
  background-color: magenta;
}

 @media print {
   .screenonly {
     display: none;
   }
 }

 @media (min-width:500px) {
   body{
     background-color: red;
   }
 }

 @media (max-width:499px) {
   body{
     background-color: blue;
   }
 }

#top {
    font-size: 36px;
}

#middle {
    font-size: 24px;
}

#bottom {
  font-size: 12px;
}

.name {
  font-weight: 600;
}
